body {
    font-family: Arial, sans-serif;
    background-color: #e5f0e0;

}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
 .update-button-container {
    text-align: center;
    padding-top: 10px;
}

input[type="text"],
input[type="number"],
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="checkbox"] {
    margin-top: 6px;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
}

#task-description,
#task-category,
#task-Quantity,
#task-categories,
#task-Quantityin,
#task-Brand,
#task-customer_name,
#task-Price {
    margin: 0;
}
